# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
gdal=3.6.2
geopandas=0.14.4
jupyter=1.0.0
mesa=2.3.0
networkx=3.2.1
numpy=1.26.4
pandas=2.2.1
